/* Geral */

thead tr th {
	text-align: center;
	vertical-align: middle;
}

#mensagens {
	margin-top: 1rem;
}

.condicaoFalse {
	color: red;
	font-weight: bold;
}

.condicaoTrue {
	color: green;
	font-weight: bold;
}

/* Ministros */

table.ministros .funcao {
	background-color: #21409a;
	color: #ffffff;
}

table.ministros td.aniversario {
	text-align: center;
}

table.ministros td.disponibilidade_enfermos,
table.ministros td.disponibilidade_missas {
	text-align: center;
}
