/* Geral */

thead tr th {
	text-align: center;
	vertical-align: middle;
}

#mensagens {
	margin-top: 1rem;
}

.condicaoFalse {
	color: red;
	font-weight: bold;
}

.condicaoTrue {
	color: green;
	font-weight: bold;
}

/* Escala */

table.escala .completa {
	background-color: #00a65d;
	color: #ffffff;
}

table.escala .faltando {
	background-color: #ed1c24;
	color: #ffffff;
}

table.escala .revezamento {
	background-color: #0066b3;
	color: #ffffff;
}

table.escala td.escalar {
	text-align: right;
}

/* Ministros */

table.ministros .funcao {
	background-color: #21409a;
	color: #ffffff;
}

table.ministros td.aniversario {
	text-align: center;
}

table.ministros td.disponibilidade_enfermos,
table.ministros td.disponibilidade_missas {
	text-align: center;
}
